li{
    list-style:none;
}
textarea{
    resize: none;
}
h3{
    font-size: 2.5em!important;
}
h4{
    font-size: 2em!important;
}
/* NOSOTORS */

/* SERVICIOS */
.precios__tipos-de-cuentas h3{
    font-weight: 400;
}
.precios__tipos-de-cuentas p{
    margin: 0;
}
.precios__tipos-de-cuentas p.h4{
    padding: .4em;
}
.precios__tipos-de-cuentas ul > li{
    padding-bottom: .5em;
}

/* TESTIMONIOS */
.testimonios__article div{
    padding: 10%!important;
}